/* Style For Footer */
.footer {
  border-top: 0px solid rgba(201, 201, 201, 0.75);
  background:rgba(0, 0, 0, 0.50);
  z-index: 50;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.footer .content {
  padding-left: 50px;
  padding-right: 50px;
}

.footer .copyright {
  font-size: 12px;
}

.pre-footer {
  background-color: gray;
}
