<div fxLayout="column" fxLayoutAlign="space-around center stretch">

  <div class="title" fxHide.lt-md fxFlexOrder="1">
    <h1>פורטל ספקים</h1>
    <h2>שורות לחשבונית (ExtraNet)</h2>
  </div>

  <mat-card fxFlexOrder="2" class="invoices-rows-container" fxLayout="column" fxLayoutAlign="space-between  center center"
    fxLayoutGap="10px">

    <form fxLayout="column" fxLayoutAlign="space-around stretch center" novalidate fxLayoutGap="10px" class="invoices-rows-filter-form">
      <div fxLayout="row" fxLayoutAlign="space-around center center">
        <mat-form-field>
          <mat-select placeholder="בחר מסנן.." [(ngModel)]="selectedFilter" name="filterCategory">
            <mat-option *ngFor="let searchFilter of displayedColumnsMap | slice: 0:displayedColumnsMap.length-1" [value]="searchFilter">
              {{ searchFilter.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{selectedFilter.viewValue}}" (keyup)="filterData($event.target.value)">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center center">
          <div>
            <button mat-raised-button color="primary" class="btn" (click)="createNewInvoiceRow()" *ngIf="allowActionsByStatus">הוסף שורה</button>
          </div>
          <div>
            <button mat-raised-button color="primary" class="btn" (click)="closeInvoice()">הדפס דרישת תשלום</button>
            <button mat-raised-button color="primary" class="btn" (click)="printData(2)"> הדפס שורות לחשבונית</button>
            <button mat-raised-button color="primary" class="btn"> הדפס טיפולים לחשבונית</button>
            <button mat-raised-button color="primary" class="btn" (click)="printData(4)">הדפס סיכום חשבונית</button>
          </div>
        </div>

      </div>
    </form>

    <mat-card>
      <mat-table #table [dataSource]="dataSource" matSort matSortActive="lineNum" matSortDirection="asc" matSortDisableClear>

        <ng-container *ngFor="let col of displayedColumns; let i = index" matColumnDef="{{col}}">

          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ getViewValue(col) }}</mat-header-cell>

          <ng-container *ngIf="i < displayedColumns.length-1; else actionsTemplate">
            <mat-cell *matCellDef=" let element "> {{(element[col] | invoiceRowDate)}} </mat-cell>
          </ng-container>
          <ng-template #actionsTemplate>
            <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">

              <mat-icon [matMenuTriggerFor]="menu" matTooltip="פעולות לשורה" matTooltipPosition="left">more_vert</mat-icon>
              <mat-menu #menu="matMenu">
                <button *ngIf="allowActionsByStatus" mat-menu-item (click)="deleteRow(element)">מחק שורה</button>
                <button mat-menu-item>טיפולים מדווחים למטופל</button>
                <button mat-menu-item>טיפולים מדווחים להתחייבות</button>
              </mat-menu>
            </mat-cell>
          </ng-template>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; " class="invoices-row-list-item " (click)="activateInvoiceRow(row) "></mat-row>
      </mat-table>
      <mat-card *ngIf="displayNoRecords" style="padding:100px;">
        <h3 style="text-align:center"> לא נמצאו תוצאות עבור:
          <span style="color:red">"{{dataSource.filter}}"</span>
          <br>
        </h3>
      </mat-card>
      <div *ngIf="!(listOfInvoiceRows$|async)" fxLayout="row " fxLayoutAlign="space-around center center
            " class="no-data-warn ">
        אין שורות לחשבונית
      </div>
      <mat-paginator #paginator [pageSize]="10 " [pageSizeOptions]="[5, 10, 25] " [showFirstLastButtons]="true ">
      </mat-paginator>

    </mat-card>
  </mat-card>
</div>