.title {
  margin: 0 auto;
  width: 70%;
}
h1 {
  background: #ffffff;
  padding-right: 15px;
  margin: 0;
  color: #f36f21;
  width: 400px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 28px;
  font-family: OpenSansBold;
  height: 60px;
  line-height: 50px;
  margin-top: 2%;
}

h2 {
  background: #009bdf;
  padding-right: 15px;
  color: #ffffff;
  width: 350px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 23px;
  height: 40px;
  line-height: 40px;
  margin-top: -13px;
  margin-bottom: 30px;
}

.mat-form-field-custom {
  background-color: rgb(255, 255, 255);
  padding-right: 10px;
  padding-left: 10px;
}

.mat-form-field-custom:before {
  content: '';
  position: absolute;
  border-left: 8px #00a2ff solid;
  right: -15px;
  top: 10px;
  height: 60%;
}
.invoices-rows-container {
  width: 70%;
}

.invoices-rows-filter-form {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  padding: 5px;
}

.invoices-row-list-item {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.invoices-row-list-item:hover {
  background-color: rgb(228, 228, 228);
}

.btn {
  margin-right: 5px;
}

.no-data-warn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
  color: red;
}
