.login-page {
  height: 100vh;
  background: url('../../../../assets/images/invoice-bg.png') top center;
  background-color: rgb(210, 233, 255);
  background-size: cover;
}


.logo-image {
  height: 100%;
}

.mat-toolbar {
  background: #fff;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 64px;
  line-height: 0;
}

/* Style For Form */
.form {
  font-size: 1rem;
  position: relative;
  max-width: 100%;
}

.form-container {
  background: rgba(255, 255, 255, 0.959);
  width: 20vw;
}

.mob-form-container {
  background: rgba(255, 255, 255, 1);
  width: 70vw;
}

.mat-form-field {
  font-family: 'OpenSans';
  color: #555;
}

.login-card {
  border-radius: 5px;
  padding: 30px;
}

.submit-section button {
  font-family: 'OpenSansBold';
  /* background-color: #009bdf; */
  padding: 2px 0;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px !important;
}

.loader-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 0;
}

.success-msg {
  color: green;
  font-size: 24px;
  font-weight: bolder;
}

.title {
  margin: 0 auto;
  width: 23%;
}

h1 {
  background: #ffffff;
  padding-right: 15px;
  margin: 0;
  color: #f36f21;
  width: 250px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 28px;
  font-family: OpenSansBold;
  height: 60px;
  line-height: 50px;
  margin-top: 15%;
}

h2 {
  background: #009bdf;
  padding-right: 15px;
  color: #ffffff;
  width: 200px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 23px;
  height: 40px;
  line-height: 40px;
  margin-top: -13px;
  margin-bottom: 30px;
}

.mob-header {
  background: #ffffff;
  padding-right: 15px;
  color: #f36f21;
  font-size: 28px;
  font-family: OpenSansBold;
  height: 60px;
  line-height: 50px;
}

.mob-sub-header {
  background: #009bdf;
  padding-right: 15px;
  color: #ffffff;
  font-size: 23px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 5rem;
}

/* Style For Footer */
.help {
  border-top: 0px solid rgba(201, 201, 201, 0.75);
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}

.help .links {
  margin-right: 10px;
  margin-left: 10px;
}

.help .links:hover {
  color: rgb(0, 140, 255);
}

.help .copyright {
  font-size: 12px;
}

.error {
  background-color: rgb(255, 253, 242);
  margin-top: 15px;
  align-self: center;
  justify-content: center;
  border: 2px solid rgb(252, 81, 81);
}

.mat-form-field-custom {
  padding-bottom: 15px;

}

.icon2 {
  color: red;
  background-color: black;
}
