.title {
  margin: 0 auto;
  width: 70%;
}
h1 {
  background: #ffffff;
  padding-right: 15px;
  margin: 0;
  color: #f36f21;
  width: 400px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 28px;
  font-family: OpenSansBold;
  height: 60px;
  line-height: 50px;
  margin-top: 2%;
}

h2 {
  background: #009bdf;
  padding-right: 15px;
  color: #ffffff;
  width: 350px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 23px;
  height: 40px;
  line-height: 40px;
  margin-top: -13px;
  margin-bottom: 30px;
}

.treat-field {
  width: 30em;
}
.invoices-row-container {
  width: 70%;
  padding: 30px;
}

.btn {
  margin: 0px 10px;
}

.no-work-error {
  padding: 30px 30px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 81, 134);
}

.errors {
  border: 3px solid red;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 30px 0px;
  padding: 10px 10px;
}
