.title {
  margin: 0 auto;
  width: 70%;
}
h1 {
  background: #ffffff;
  padding-right: 15px;
  margin: 0;
  color: #f36f21;
  width: 400px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 28px;
  font-family: OpenSansBold;
  height: 60px;
  line-height: 50px;
  margin-top: 2%;
}

h2 {
  background: #009bdf;
  padding-right: 15px;
  color: #ffffff;
  width: 350px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 23px;
  height: 40px;
  line-height: 40px;
  margin-top: -13px;
  margin-bottom: 30px;
}

.mat-form-field-custom {
  background-color: rgb(255, 255, 255);
  padding-right: 10px;
  padding-left: 60px;
}

.mat-form-field-custom:before {
  content: '';
  position: absolute;
  border-left: 8px #00a2ff solid;
  right: -15px;
  top: 10px;
  height: 60%;
}
.invoices-row-container {
  width: 70%;
  padding: 30px;
}

.new-invoice-row-form {
}

.btn {
  margin: 0px 10px;
}
