.title {
  margin: 0 auto;
  width: 70%;
}
h1 {
  background: #ffffff;
  padding-right: 15px;
  margin: 0;
  color: #f36f21;
  width: 400px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 28px;
  font-family: OpenSansBold;
  height: 60px;
  line-height: 50px;
  margin-top: 2%;
}

h2 {
  background: #009bdf;
  padding-right: 15px;
  color: #ffffff;
  width: 350px;
  text-align: right;
  border-radius: 30px 0 0 30px;
  font-size: 23px;
  height: 40px;
  line-height: 40px;
  margin-top: -13px;
  margin-bottom: 30px;
}

.invoices-container {
  width: 70%;
}

.invoices-filter-form {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(58, 150, 255);
  border-radius: 5px;
  padding: 1em 1em;
}

.invoices-list-item {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.invoices-list-item:hover {
  background-color: rgb(228, 228, 228);
}

.no-data-warn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
  color: red;
}

.status-color {
  color: red;
  background-color: red;
}
