<div fxLayout="column" fxLayoutAlign="space-around center stretch">

    <div class="title" fxHide.lt-md fxFlexOrder="1" fxLayout="row" fxLayoutAlign="space-between center start">
        <div>    <h1>פורטל ספקים</h1>
    <h2>הצגת חשבוניות (ExtraNet)</h2></div>
    <app-global-invoice-details></app-global-invoice-details>
  </div>

  <mat-card fxFlexOrder="2" class="invoices-container" fxLayout="column" fxLayoutAlign="space-between  center center" fxLayoutGap="60px">

    <form fxLayout="row" fxLayoutAlign="space-around center center" novalidate fxLayoutGap="10px" class="invoices-filter-form">
      <mat-form-field class="mat-form-field-custom ">
        <input matInput placeholder="סנן לפי חשבונית..." (keyup)="applyFilterInvoiceNumber($event.target.value)">
      </mat-form-field>

      <mat-form-field [floatLabel]="vars.floatLabel" class="mat-form-field-custom ">
        <input matInput readonly [matDatepicker]="picker" placeholder="מתאריך">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
      </mat-form-field>

      <mat-form-field [floatLabel]="vars.floatLabel" class="mat-form-field-custom ">
        <input matInput readonly [matDatepicker]="picker2" placeholder="עד תאריך">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="newInvoice()">צור חשבונית</button>
      <button mat-raised-button color="primary" (click)="print()"> הדפס חשבוניות</button>

    </form>

    <mat-card>
      <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear>
        <ng-container *ngFor="let col of displayedColumns; let i = index" matColumnDef="{{col}}">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ getViewValue(col)}}</mat-header-cell>

          <mat-cell *matCellDef=" let element" [style.color]="(element.statusField | invoiceStatusColor)"> {{(element[col] | invoiceRowDate:col | invoiceStatus:col)}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef=" displayedColumns "></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; " (click)="activateInvoice(row) " class="invoices-list-item "></mat-row>
      </mat-table>

      <!-- Loader when the Store is loading Something, in our case invoices list -->
      <div *ngIf="(isLoading$|async)" fxLayout="row" fxLayoutAlign="space-around center center" class="no-data-warn">
        <mat-spinner></mat-spinner>
      </div>

      <!-- In case there are no records, we show an error of no results -->
      <mat-card *ngIf="displayNoRecords" style="padding:100px;">
        <h3 style="text-align:center"> לא נמצאו תוצאות
          <span style="color:red">"{{dataSource.filter}}"</span>
          <br>
        </h3>
      </mat-card>

      <!-- In case we switched sapak and he doesnt have any invoices we show a message -->
      <div *ngIf="(listOfInvoices$|async).length === 0 && !(isLoading$|async)" fxLayout="row" fxLayoutAlign="space-around center center"
        class="no-data-warn">
        אין חשבוניות להצגה
      </div>


      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true">
      </mat-paginator>

    </mat-card>
  </mat-card>
</div>