<div fxLayout="row" fxLayoutAlign="space-between center center" id="section-to-not-print">
  <h1 class="print-dialog-header"> {{object.dialogHeader}}</h1>

  <div fxLayout="row" fxLayoutAlign="start center center" class="actions">
    <button mat-raised-button color="primary" (click)="print()">
      {{ object.btn1Action }}
    </button>
    <button mat-raised-button color="primary" (click)="goBack()">
      חזור
    </button>
  </div>

</div>

<div class="print-wrapper" dir="rtl" id="section-to-print">
  <div fxLayout="row" fxLayoutAlign="space-around center center">
    נוצר בתאריך : {{date}}
  </div>

  <div fxLayout="row" fxLayoutAlign="end center center" class="logo">
    <img src="assets/images/meuhedet-logo.png" />
  </div>

  <div *ngIf="(object?.recipient && !(object?.printOption === 1 || object?.printOption === 2 || object?.printOption === 3))"
    fxLayout="row" fxLayoutAlign="start center center" class="sub-header-details" class="recipient">
    <div fxLayout="column" fxLayoutAlign="start start center">
      <div>
        {{ object?.recipient.greeting }}
      </div>
      <div>
        {{ object?.recipient.address }}
      </div>
      <div>
        {{ object?.recipient.city }}
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center center">
    <div fxLayout="column" fxLayoutAlign="start start center" class="header-details">
      <div> {{object.headerDetailsText1}} {{object.headerDetailsValue1}}</div>
      <div> {{object.headerDetailsText2}} {{object.headerDetailsValue2}}</div>
    </div>
  </div>

  <div *ngIf="object.parentContent" fxLayout="row" fxLayoutAlign="center center" class="parent-content">
    <div *ngFor="let pci of object.parentContent" class="parent-content-item" fxLayout="row" fxLayoutAlign="center center">
      <div class="parent-content-item-desc">{{ pci.view }}</div>
      <div>{{ pci.value | invoiceRowDate:pci.col | invoiceStatus:pci.col }}</div>
    </div>

  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center center" class="main" fxLayoutGap="40px">
    <div fxLayout="row" fxLayoutAlign="space-around center center" class="main-header">
      {{object.mainHeader}}
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around stretch stretch" class="main-content">
      <div *ngIf="object.printOption === 1 || object.printOption === 2 || object.printOption === 3">
        <div class="table-content">
          <mat-table #table [dataSource]="dataSource">
            <ng-container *ngFor="let col of object.displayedColumns" [cdkColumnDef]="col">
              <mat-header-cell *cdkHeaderCellDef> {{getViewValue(col)}} </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{(row[col] | invoiceRowDate:col | invoiceStatus:col | datetime:col)}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="object.displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: object.displayedColumns;" class="pgbreak"></mat-row>
          </mat-table>
        </div>
      </div>

      <div *ngIf="(object.printOption === 5)" fxLayout="column" fxLayoutAlign="start stretch center" fxLayoutGap="25px">

        <div>
          {{object.specialData[0]}}
        </div>
        <div>
          {{object.specialData[1]}}
        </div>
        <div>
        </div>
        <table style="width:40%">
          <tr>
            <td> {{object.specialData[2]}}</td>
            <td style="font-weight: bold;">{{object.specialData[3]}}</td>
          </tr>
          <tr>
            <td> {{object.specialData[4]}}</td>
            <td style="font-weight: bold;">{{object.specialData[5]}}</td>
          </tr>
          <tr>
            <td> {{object.specialData[6]}}</td>
            <td style="font-weight: bold;">{{object.specialData[7]}}</td>
          </tr>
        </table>
        <div>
        </div>
        <div>
          {{object.specialData[8]}}
        </div>
        <div>
          {{object.specialData[9]}} {{object.specialData[10]}}
        </div>
        <div>
          {{object.specialData[11]}}
        </div>

        <!-- <div *ngFor="let sd of object.specialData" >
          {{sd}}
        </div> -->
      </div>
    </div>
  </div>


  <div *ngIf="object.lowerContent" fxLayout="row" fxLayoutAlign="end center center" class="lower-content">
    <div fxLayout="column" fxLayoutAlign="start start center">
      <div *ngFor="let i of object.lowerContent">
        {{ i.desc }} {{ i.value}}
      </div>
    </div>
  </div>

</div>