.outer-div-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  background: url('../../../assets/images/invoice-bg.png') top center;
  background-color: rgb(210, 233, 255);
  background-size: cover;
  z-index: -5;
}

.sidenav {
  width: 250px;
  background-color: #ffffff;
  color: #555;
}

.sidenav h1 {
  padding-right: 25px;
  margin: 0;
  background: #009bdf;
  padding-right: 15px;
  color: #ffffff;
  height: 64px;
  line-height: 64px;
  font-size: 22px;
}

.menu-btn {
  font-size: 18px;
  padding: 15px 15px;
  color: rgb(0, 153, 255);
}

.active {
  font-size: 18px;
  padding: 15px 15px;
  background-color: rgb(0, 153, 255);
  color: white;
}

.router-wrapper {
  padding-top: 1em;
  padding-bottom: 2em;
}
