.outer-div-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  background: url('../../../assets/images/invoice-bg.png') top center;
  background-color: rgb(210, 233, 255);
  background-size: cover;
  z-index: -5;
}

.sidenav {
  width: 250px;
  background-color: #ffffff;
  color: #555;
}

.sidenav h1 {
  padding-right: 25px;
  margin: 0;
  background: #009bdf;
  padding-right: 15px;
  color: #ffffff;
  height: 64px;
  line-height: 64px;
  font-size: 22px;
}

.menu-btn {
  display: flex;
  direction: row;
  align-content: start;
  font-size: 1rem;
  padding: 15px 25px;
  font-weight: bold;
  color: rgb(87, 87, 87);
}

.active {
  display: flex;
  direction: row;
  align-content: start;
  font-size: 1rem;
  padding: 15px 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #2c3e50;
  border-left: 6px solid #b9b9b9;
}

.router-wrapper {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
}
