<button mat-button fxLayout="row" fxLayoutAlign="start center center" class="user-panel-container" [matMenuTriggerFor]="menu">
  <mat-icon >account_circle</mat-icon>
  <mat-spinner *ngIf="(userLoader$ | async)" [diameter]="25" class="usr-spn"></mat-spinner>
  <span class="spk">
    {{(activeSapak$ | async)?.description}}
  </span>
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>

<mat-menu #menu="matMenu" class="menu" yPosition="below" [overlapTrigger]="false">
  <ng-template matMenuContent>
    <div (click)="$event.stopPropagation();" fxLayout="column" fxLayoutAlign="space-between center center" class="spk-chooser"
      fxLayoutGap="10px">
      <div class="header">
        החלפת ספק:
      </div>
      <mat-form-field>
        <mat-select placeholder="בחר ספק אחר:" [(value)]="selectedSapakKod">
          <mat-option *ngFor="let sapak of (user$ | async)?.availableSapakim" [value]="sapak.kodSapak" matTooltip="{{sapak.permissions['zakaut'].desc}}"
            matTooltipPosition="left">
            {{ sapak.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <button *ngIf="selectedSapakKod != ''" mat-button class="spk-chooser-btn" (click)="changeActiveSapak()" fxLayout="row" fxLayoutAlign="space-around stretch center">
      <mat-icon>cached</mat-icon>החלף</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>הגדרות</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logoutUser()">
      <mat-icon>exit_to_app</mat-icon>
      <span>התנתק ({{(user$ | async)?.username}})</span>
    </button>
  </ng-template>
</mat-menu>