.user-panel-container {
  height: 64px;
  background-color: white;
  color: rgb(37, 37, 37);
  cursor: pointer;
  border-bottom: 1px solid black;
}

.user-panel-container .spk {
  font-weight: bold;
  word-wrap: break-word;
}

.menu {
  min-width: 270px !important;
  background-color: rgb(255, 255, 255);
  border-radius: 3px !important;
}

.menu .spk-chooser {
  padding: 15px 15px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: inset 0 8px 9px -7px rgba(0, 0, 0, 0.7);
}

.menu .spk-chooser .header {
  color: rgb(0, 16, 20);
  text-decoration: underline;
}
.spk-chooser-btn {
  width: 100%;
  background-color: #009bdf;
  font-weight: bold;
  color: white;
}

.mat-menu-item {
  color: rgb(44, 44, 44);
  background-color: rgb(255, 255, 255) !important;
}

.mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-menu-item:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 195, 255) !important;
}
.snack-item {
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
}

.usr-spn {
  float: right !important;
  stroke: rgb(0, 16, 20) !important;
  margin-left: 5px !important;
  margin-top: 8px !important;
}
