<button mat-button fxLayout="row" fxLayoutAlign="start center center" class="user-panel-container" [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
  <span class="spk">
    terem14 
  </span>
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>
<mat-menu #menu="matMenu" class="menu" yPosition="below" [overlapTrigger]="false">
  <ng-template matMenuContent fxLayout="column" fxLayoutAlign="space-between center center">
    <div (click)="$event.stopPropagation();" fxLayout="column" fxLayoutAlign="space-between center center" class="spk-chooser">
      <span>
        החלפת ספק:
      </span>
      <mat-form-field>
        <mat-select placeholder="בחר ספק">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary">החלף</button>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>הגדרות</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>התנתק</span>
    </button>
  </ng-template>
</mat-menu>