<div fxLayout="column" fxLayoutAlign="space-around center stretch">

  <div class="title" fxHide.lt-md fxFlexOrder="1" fxLayout="row" fxLayoutAlign="start end">
    <div style="margin-left: 63px;">
      <h1>פורטל ספקים</h1>
      <h2>יצירת חשבונית חדשה (ExtraNet)</h2>
    </div>
    <div fxFlex>
      <app-global-invoice-details></app-global-invoice-details>
    </div>
  </div>


  <mat-card fxFlexOrder="2" class="invoices-container" fxLayout="column" fxLayoutAlign="start stretch center">
    <div fxLayout="row" fxLayoutAlign="start center center" class="comment">
      {{vars.comment}}
    </div>

    <form fxLayout="column" #formTag="ngForm" fxLayoutAlign="start stretch center" fxLayoutGap="10px" class="new-invoice-form"
      [formGroup]="newInvoiceForm" (ngSubmit)="createNewInvoice()">

      <div fxLayout="row" fxLayoutAlign="space-evenly center stretch">
        <mat-form-field class="mat-form-field-custom">
          <mat-select formControlName="invoiceDateControl" placeholder="תאריך חשבונית חדשה" [ngModel]="this.newInvoiceRequest.invoiceDate">
            <mat-option *ngFor="let month of vars.availableMonths" [value]="month">
              {{month}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field hintLabel="(עד 4 ספרות)" class="mat-form-field-custom">
          <input matInput type="text" pattern="(?!0000)+\d{1,4}" placeholder="מספר חשבונית חדשה" maxLength="4" [(ngModel)]="newInvoiceRequest.invoiceNum"
            formControlName="invoiceIdControl">
          <mat-error *ngIf="newInvoiceForm.get('invoiceIdControl').hasError('required')">שדה נדרש</mat-error>
        </mat-form-field>
        <mat-form-field class="mat-form-field-custom">
          <textarea matInput placeholder="הערות לחשבונית" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="2" formControlName="invoiceRemarksControl"
            [errorStateMatcher]="matcher" [(ngModel)]="newInvoiceRequest.invoiceRemarks"></textarea>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center center">
        <button mat-raised-button type="button" (click)="reset()" color="primary" class="btn">נקה</button>
        <button mat-raised-button type="submit" disabled="{{!newInvoiceForm.valid}}" color="primary" class="btn">צור חשבונית</button>
        <button mat-raised-button type="submit" color="primary" class="btn" routerLink="/portal/invoices/all">בטל</button>

      </div>
      <!-- <section class="loader-section">
        <mat-progress-bar mode="indeterminate" *ngIf="(isValidating$|async)">
        </mat-progress-bar>
      </section> -->
    </form>

  </mat-card>
</div>