<p>
  grid2 works!
</p>
<div class="main-content">

  <gridster [options]="gridsterOptions" [draggableOptions]="gridsterDraggableOptions" (reflow)="onReflow($event)" (optionsChange)="optionsChange($event)"
    #gridster1 class="dashboard">

    <gridster-item *ngFor="let widget of widgets; let indx = index" #itemComp [options]="itemOptions" [dragAndDrop]="widget.dragAndDrop"
      [resizable]="widget.resizable" [(x)]="widget.x" [(y)]="widget.y" [(xSm)]="widget.xSm" [(ySm)]="widget.ySm" [(xMd)]="widget.xMd"
      [(yMd)]="widget.yMd" [(xLg)]="widget.xLg" [(yLg)]="widget.yLg" [(xXl)]="widget.xXl" [(yXl)]="widget.yXl" [(w)]="widget.w"
      [(h)]="widget.h" (change)="itemChange($event, gridster1)">

      <div class="panel-heading">
        <h5 class="panel-title">{{ widget.title }}</h5>
      </div>

    </gridster-item>

  </gridster>
</div>