.outer-div-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  background-color: #f1f0ee;
}

.sidenav {
  width: 250px;
  background-color: #f1f0ee;
  color: #000000;
}

.sidenav .menu {
  color: #000000;
}

.router-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
  /* padding-right: 5em;
  padding-left: 5em; */
}
