.outer-div-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner-sidenav-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  background-color: #f1f0ee;
}

.router-wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 5em;
  padding-left: 5em;
}

.tile {
  border: 2px solid red;
}
