<div fxLayout="column" fxLayoutAlign="space-evenly stretch center" class="login-page">

  <mat-toolbar role="header" fxLayout="row" fxLayoutAlign="space-between stretch" class="navbar" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch">
    <div fxLayout="row" fxLayoutAlign="space-evenly stretch">     
      <div class="logo" fxFlexAlign="center">
        <img src="../../../assets/meuhedet-logo.png" class="logo-image" />
      </div>
    </div>
  </mat-toolbar>
  
 <div class="title"> 
    <h1 _ngcontent-c3="">מערכת ספקים</h1>
    <h2 _ngcontent-c3="">כניסה למערכת</h2> 
  </div>

  <div class="form" fxFlex fxFill fxFlexOrder="1" fxLayout="column" fxLayoutAlign="start center center" fxFlex.md="100">
    
    <mat-card mat-elevation-z6 class="form-container login-card" [@itemAnim]>

      <form #loginFormTag fxLayout="column" fxLayoutAlign="space-between stretch center" [formGroup]="loginForm" novalidate *ngIf="!isValid">
            
        <mat-form-field color='primary' [hideRequiredMarker]="options.hideRequired" [floatLabel]="options.floatLabel" *ngFor="let formItem of forms;  index as i">
          <input matInput type={{formItem.type}} disabled={{isValidating}} formControlName="{{formItem.controller}}">
          <mat-placeholder class="placeholder">
            <mat-icon>{{formItem.icon}}</mat-icon>
            <b> {{formItem.name}} </b>
          </mat-placeholder>
          <mat-error *ngIf="loginForm.get(formItem.controller).hasError('required')">{{errors.required}}</mat-error>
          <mat-error *ngIf="loginForm.get(formItem.controller).hasError('minlength')">{{errors.minlength}}</mat-error>
          <mat-error *ngIf="loginForm.get(formItem.controller).hasError('pattern')">{{errors.pattern}}</mat-error>
        </mat-form-field>

        <div class="submit-section">
          <button mat-raised-button fxFill color="primary" (click)="submitLoginForm()" type='button' disabled={{!loginForm.valid}}>
            {{ isValidating ? options.loginButtonValidating :options.loginButtonName }}
          </button>
          <section class="loader-section">
            <mat-progress-bar mode="indeterminate" *ngIf="isValidating">
            </mat-progress-bar>
          </section>
        </div>

      </form>

      <div *ngIf="isValid" [@itemFade] class="success-msg" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>done</mat-icon>
        {{options.success_msg}}
      </div>

    </mat-card>

  </div>

  <div class="help" fxFlex="5" fxFill fxFlexOrder="2" fxLayout="column" fxLayoutAlign="space-around stretch center">
    <div fxLayout="row" fxLayoutAlign="space-between center center" class="content">
      <div class="copyright">
        © 2018
      </div>
      <div fxLayoutAlign="space-between center center">
        <mat-icon class="links" matTooltip="{{options.support_phone}}" value="left" matTooltipHideDelay="1000">phone</mat-icon>
        <mat-icon class="links">face</mat-icon>
      </div>
    </div>
  </div>
  
</div>