/* Page Style */
.login-page {
  height: 100vh;
  background-color: #eceae4;
}

.logo-image {
  height: 100%;
}

/* Style For Form */
.form {
  padding: 50px;
}

.form-container {
  padding: 30px 30px;
  min-width: 25%;
  color: rgb(139, 139, 139);
}

.form .placeholder {
  color: rgb(182, 182, 182);
}

.form .submit-section {
  margin-top: 40px;
  height: 100%;
}

.loader-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 0;
}

.success-msg {
  color: green;
  font-size: 24px;
  font-weight: bolder;
}

/* Style For Footer */
.help {
  border-top: 1px solid rgb(201, 201, 201);
  background-color: #111111;
  -webkit-box-shadow: 0px 8px 28px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 28px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 28px -1px rgba(0, 0, 0, 0.75);
}
.help .content {
  padding-left: 50px;
  padding-right: 50px;
  color: rgb(180, 180, 180);
}

.help .links {
  margin-right: 10px;
  margin-left: 10px;
}

.help .links:hover {
  color: rgb(0, 140, 255);
}

.help .copyright {
  font-size: 12px;
}
