<mat-card class="mycard" fxLayout="column" fxLayoutAlign="space-between stretch stretch" fxFlex="noshrink">

  <div class="widget-header" fxFlex="15" fxLayout="row" fxLayoutAlign="space-between center center">
    <p>חשבוניות אחרונות</p>
    <div class="drag-handler widget-header-handler">
      <i class="material-icons">swap_horiz</i>
    </div>
  </div>

  <mat-card-content class="content" fxLayout="row" fxLayoutAlign="space-around center end" fxFlex dir="ltr" ngClass.xs="mobi-content">
    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
      [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel" [barPadding]="barPadding" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </mat-card-content>


</mat-card>