<mat-toolbar role="header" fxLayout="row" fxLayoutAlign="space-between stretch" class="navbar">
  <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">
      מערכת ספקים
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-button matTooltip={{linkItem.tooltip}} *ngFor="let linkItem of links; index as i" [routerLink]="linkItem.link"
        routerLinkActive="active" class="link">
        <mat-icon>{{linkItem.icon}}</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>