:host {
  width: 100%;
}

.mycard {
  height: 135px;
  background-color: rgb(255, 255, 255);
  margin: 10px 25px;
  padding: 0 0;
}

.widget-header {
  background-color: #1b1e27;
  color: #adcded;
  padding-left: 10px;
  padding-right: 20px;
}

.content {
  padding: 10px 10px;
  margin: 0 0;
}

.actions {
  padding: 5px 5px;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
