<mat-card class="mycard" fxLayout="column" fxLayoutAlign="space-between stretch stretch" fxFlex="noshrink">

  <div class="widget-header" fxFlex="35" fxLayout="row" fxLayoutAlign="space-between center center">
    <p>בדיקת זכאות מהירה</p>
    <div class="drag-handler widget-header-handler">
      <i class="material-icons">swap_horiz</i>
    </div>
  </div>

  <mat-card-content class="content" fxLayout="row" fxLayoutAlign="start stretch stretch" fxFlex="40">
    <mat-form-field>
      <input matInput placeholder="{{obj}}" value="">
    </mat-form-field>
  </mat-card-content>

  <div fxLayout="row" fxLayoutAlign="end stretch stretch" class="actions">

    <div fxFlexOffset="-20px">
      <button mat-raised-button routerLink="/portal/zakaut">עבור לפעולות</button>
    </div>

  </div>
</mat-card>