.navbar {
  padding-right: 0;
  padding-left: 50px;
  z-index: 99999999;
  height: 64px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navbar .logo {
  padding-right: 10px;
  height: 54px;
  width: 229px;
}
img {
  max-width: 100%;
}
.navbar .link {
  margin-left: 10px;
  margin-right: 10px;
}

.active {
  background: rgba(149, 204, 238, 0.4);
  color: #fff;
}

.navbar .link {
  margin: 15px 0 20px 18px;
  color: #0082d0 !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 130, 208, 1) inset;
  font-weight: normal;
  border-radius: 0.28571429rem;
  text-transform: none;
  text-shadow: none !important;
}
