<mat-toolbar role="header" fxLayout="row" fxLayoutAlign="space-between stretch" class="navbar" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch center"
  fxLayoutGap.xs="60px" #mainToolbar>
  <div fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutAlign.xs="space-between stretch">
    <button class="hamburger" mat-button (click)="sidenav.toggle()">
      <div class="hamburger hamburger--arrowturn-r">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </button>
    <div class="logo" fxFlexAlign="center" fxFlex >
      <img src="assets/images/logo.png" routerLink="/portal"/>
    </div>
    <div>

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxHide.xs>
    {{env}}
    <app-user-panel></app-user-panel>
  </div>

</mat-toolbar>