.navbar {
  padding-right: 0;
  padding-left: 50px;
  z-index: 99999999;
  height: 64px;
  line-height: 64px;
  background: #fff;
}

.navbar .logo {
  padding-right: 10px;
  margin-top: 30px;
}

.navbar .link {
  margin-left: 10px;
  margin-right: 10px;
}

.active {
  background: rgba(149, 204, 238, 0.4);
  color:#fff;
}

.navbar .link {
  margin: 15px 0 20px 18px;
  color: #0082d0 !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 130, 208, 1) inset;
  font-weight: normal;
  border-radius: 0.28571429rem;
  text-transform: none;
  text-shadow: none !important;
}