gridster {
  background-color: #f1f0ee;
}

gridster-item {
  background-color: #f1f0ee;
}

gridster-item div.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

gridster-item .item-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

gridster-item .gridster-item-content {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.destroy-button {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
}
