<div class="outer-div-container">
  <mat-sidenav-container #sidenav style="height:100%;width:100%;">

    <mat-sidenav mode="push" #sidenav class="sidenav" style="width:250px;" [fixedInViewport]="true">
      <button mat-button routerLink="/dash/zakaut" routerLinkActive="active">זכאות</button>
      <mat-divider></mat-divider>
      <mat-list class="menu">
        <h3 mat-subheader>Folders</h3>
        <mat-list-item *ngFor="let folder of folders" class="menu">
          <a>
            <h4 mat-line>{{folder.name}}</h4>
            <p mat-line> {{folder.updated | date}} </p>
          </a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <app-header [sidenav]="sidenav"></app-header>

    <div class="inner-sidenav-content" fxLayout="column" fxLayoutAlign="space-between stretch center">

      <div class="router-wrapper" fxFlex="auto">
        <router-outlet></router-outlet>
      </div>

      <app-footer>
      </app-footer>

    </div>
  </mat-sidenav-container>
</div>