<div class="actions-container" fxLayout="row" fxLayoutAlign="space-around center center" fxLayout.xs="column" fxLayoutAlign="space-around center center">

  <mat-card fxLayout="column" fxLayoutAlign="space-around center center" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch center"
    class="actions-card" ngClass.xs="actions-card-mobile">

    <mat-tab-group dir="rtl" [@.disabled]="true">

      <!-- MagneticCard Form -->
      <mat-tab label="העברת כרטיס מגנטי" (click)="setFocus()" fxFlex.xs="10">
        <h5>הערות: המטופל עם כרטיס מגנטי - הזנה באמצעות העברת הכרטיס </h5>
        <form #zakautWithCardFormTag fxLayout="column" fxLayoutAlign="space-between stretch center" [formGroup]="zakautWithCardForm"
          class="form" novalidate>
          <mat-form-field [floatLabel]="vars.floatLabel">
            <input matInput type="password" formControlName="_zakautWithCardControl" placeholder="כרטיס מגנטי" [errorStateMatcher]="matcher"
              autofocus #cardFocusFirstTag>
            <mat-error *ngIf="zakautWithCardForm.get('_zakautWithCardControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
          </mat-form-field>
          <div class="submit-section">
            <button mat-raised-button fxFill color="primary" (click)="validateCard(zakautWithCardForm)" type='button' disabled={{(!zakautWithCardForm.valid||timerActive||(isValidating$|async))}}>
              {{ (isValidating$|async) ? vars.BtnValidating : vars.BtnName }}
            </button>
            <section class="loader-section">
              <mat-progress-bar mode="indeterminate" *ngIf="(isValidating$|async)">
              </mat-progress-bar>
            </section>
          </div>
        </form>
      </mat-tab>


      <!-- TemporaryCard Form -->
      <mat-tab label="דווח עם אישור זמני" [disabled]="tabsDisabled">
        <h5>הערות: המטופל ללא כרטיס מגנטי - הזנה באמצעות אישור זמני </h5>
        <form #zakautWithTempCardFormTag fxLayout="column" fxLayoutAlign="space-between stretch center" fxLayoutGap="20px" class="form"
          novalidate [formGroup]="zakautWithTempCardForm">
          <div fxLayout="row" fxLayoutAlign="space-between stretch center" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch center"
            fxLayoutGap>
            <mat-form-field hintLabel="(באורך 9 ספרות)">
              <input matInput placeholder="תעודת זהות" type="text" maxlength="{{vars.idLength}}" formControlName="_zakautWithTempCardIdControl"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardIdControl').hasError('minlength')">{{vars.errors.minlength}}</mat-error>
              <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardIdControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="(תעודת זהות/דרכון)">
              <mat-select formControlName="_zakautWithTempCardIdTypeControl" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let type of vars.idTypes" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field hintLabel="(בחר מהרשימה)">
            <mat-select placeholder="שנת לידה" formControlName="_zakautWithTempCardDOBControl" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let year of vars.possibleYears" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardDOBControl').hasError('required')">{{vars.errors.required}}</mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="(באורך 4 ספרות)">
            <input matInput placeholder="מספר אישור זמני" type="text" maxlength="{{vars.tempCardNumberLength}}" formControlName="_zakautWithTempCardNumberControl"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardNumberControl').hasError('minlength')">{{vars.errors.minlength}}</mat-error>
            <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardNumberControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
          </mat-form-field>

          <div class="submit-section">
            <button mat-raised-button fxFill color="primary" (click)="validateCard(zakautWithTempCardForm)" type='button' disabled={{(!zakautWithTempCardForm.valid||timerActive||(isValidating$|async))}}>
              {{ (isValidating$|async) ? vars.BtnValidating : vars.BtnName }}
            </button>
            <section class="loader-section">
              <mat-progress-bar mode="indeterminate" *ngIf="(isValidating$|async)">
              </mat-progress-bar>
            </section>
          </div>
        </form>
      </mat-tab>


      <!-- Manual Form -->
      <mat-tab label="דווח ידני" [disabled]="tabsDisabled">
        <h5>הערות: המטופל עם כרטיס אבל יש בעיה - הזנה ידנית </h5>
        <form #zakautManualFormTag fxLayout="column" fxLayoutAlign="space-between stretch center" fxLayoutGap="20px" class="form"
          novalidate [formGroup]="zakautManualForm">
          <div fxLayout="row" fxLayoutAlign="space-between stretch center" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch center"
            fxLayoutGap>
            <mat-form-field hintLabel="(באורך 9 ספרות)">
              <input matInput placeholder="תעודת זהות" type="text" maxlength="{{vars.idLength}}" formControlName="_zakautManualIdControl"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="zakautManualForm.get('_zakautManualIdControl').hasError('minlength')">{{vars.errors.minlength}}</mat-error>
              <mat-error *ngIf="zakautManualForm.get('_zakautManualIdControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="(תעודת זהות/דרכון)">
              <mat-select formControlName="_zakautManualIdTypeControl" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let type of vars.idTypes" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field hintLabel="(בחר מהרשימה)">
            <mat-select placeholder="שנת לידה" formControlName="_zakautManualDOBControl" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let year of vars.possibleYears" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="zakautManualForm.get('_zakautManualDOBControl').hasError('required')">{{vars.errors.required}}</mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="(באורך 8 ספרות)">
            <input matInput placeholder="מספר כרטיס" type="text" maxlength="{{vars.manualCardNumberLength}}" formControlName="_zakautManualCardNumberControl"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="zakautManualForm.get('_zakautManualCardNumberControl').hasError('minlength')">{{vars.errors.minlength}}</mat-error>
            <mat-error *ngIf="zakautManualForm.get('_zakautManualCardNumberControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
          </mat-form-field>
          <p> סיבת אי העברת כרטיס: </p>
          <mat-radio-group formControlName="_zakautManualReasonControl" fxLayout="row" fxLayoutAlign="space-around center center" fxLayout.xs="column"
            fxLayout.xs="column" fxLayoutAlign.xs="start stretch center">
            <mat-radio-button *ngFor="let reason of vars.reasons" [value]="reason.value"> {{reason.viewValue}}</mat-radio-button>
          </mat-radio-group>


          <div class="submit-section">
            <button mat-raised-button fxFill color="primary" (click)="validateCard(zakautManualForm)" type='button' disabled={{(!zakautManualForm.valid||timerActive||(isValidating$|async))}}>
              {{ (isValidating$|async) ? vars.BtnValidating : vars.BtnName }}
            </button>
            <section class="loader-section">
              <mat-progress-bar mode="indeterminate" *ngIf="(isValidating$|async)">
              </mat-progress-bar>
            </section>
          </div>
        </form>
      </mat-tab>


    </mat-tab-group>

    <mat-card *ngIf="(zakautErrors$|async).length > 0" class="response-msg-bad">
      <div fxLayout="row" fxLayoutAlign="space-between center center">
        <mat-icon>error_outline</mat-icon>
        {{(zakautErrors$ | async)}}
      </div>

    </mat-card>
    <mat-card *ngIf="(zakautResponse$|async) !== null" class="response-msg-good">
      <div fxLayout="row" fxLayoutAlign="space-between center center">
        <mat-icon>done</mat-icon>
        {{(zakautResponse$ | async)}}
      </div>
    </mat-card>
    <p *ngIf="(zakautErrors$|async).length > 0 ||(zakautResponse$|async) !== null">הודעה זו תיעלם בעוד {{count}} שניות.</p>
  </mat-card>

</div>