<div class="actions-container" fxLayout="column" fxLayoutAlign="start  center" fxLayout.xs="column" fxLayoutAlign="space-around center center">

  <div class="title" fxHide.lt-md fxFlexOrder="1">
    <h1>פורטל ספקים</h1>
    <h2>בדיקת זכאות</h2>
  </div>

  <mat-card fxLayout="column" fxLayoutAlign="space-around center center" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch center"
    class="actions-card" ngClass.xs="actions-card-mobile" fxFlexOrder="2">

    <mat-tab-group dir="rtl" [@.disabled]="true" class="tab-group">

      <!-- MagneticCard Form -->
      <mat-tab fxFlex.xs="10">
        <ng-template mat-tab-label>
          <mat-icon>credit_card </mat-icon>
          <div>העברת כרטיס</div>
        </ng-template>
        <form #zakautWithCardFormTag fxLayout="column" fxLayoutAlign="space-between stretch center" [formGroup]="zakautWithCardForm"
          novalidate ngClass="form" ngClass.lt-md="mob-form" fxLayoutGap="15px">
          <mat-form-field *ngIf="!hideTreatInput" class="mat-form-field-custom">
            <mat-select placeholder="בחר טיפול" formControlName="_zakautWithCardTreatCodeControl" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let treat of (currentSapakTreatments$ |async)" [value]="treat.treatCode">
                {{treat.treatDesc}} ({{ treat.treatCode}})
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field [floatLabel]="vars.floatLabel" *ngIf="!hideCardInput" class="mat-form-field-custom">
            <input matInput type="password" formControlName="_zakautWithCardControl" placeholder="כרטיס מגנטי" [errorStateMatcher]="matcher"
              autofocus #cardFocusFirstTag (change)="CheckAutoActivate($event)">
            <mat-error *ngIf="zakautWithCardForm.get('_zakautWithCardControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
          </mat-form-field>

          <div class="submit-section">
            <button mat-raised-button fxFill color="primary" (click)="validateCard(zakautWithCardForm)" type='button' disabled={{(!zakautWithCardForm.valid||timerActive||(isValidating$|async))}}>
              {{ (isValidating$|async) ? vars.BtnValidating : vars.BtnName }}
            </button>
            <section class="loader-section">
              <mat-progress-bar mode="indeterminate" *ngIf="(isValidating$|async)">
              </mat-progress-bar>
            </section>
          </div>
        </form>
      </mat-tab>


      <!-- TemporaryCard Form -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>hourglass_empty</mat-icon>
          <div>אישור זמני</div>
        </ng-template>
        <form #zakautWithTempCardFormTag fxLayout="column" fxLayoutAlign="space-between stretch center" fxLayoutGap="20px" novalidate
          [formGroup]="zakautWithTempCardForm" ngClass="form" ngClass.lt-md="mob-form">

          <div fxLayout="row" fxLayoutAlign="space-between center center" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch center"
            fxLayoutGap.xs="20px">

            <mat-form-field hintLabel="(באורך 9 ספרות)" class="mat-form-field-custom">
              <input matInput placeholder="תעודת זהות" type="text" maxlength="{{vars.idLength}}" formControlName="_zakautWithTempCardIdControl"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardIdControl').hasError('minlength')">{{vars.errors.minlength}}</mat-error>
              <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardIdControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
            </mat-form-field>

            <mat-form-field hintLabel="(תעודת זהות/דרכון)" class="mat-form-field-custom">
              <mat-select formControlName="_zakautWithTempCardIdTypeControl" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let type of vars.idTypes" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field hintLabel="(בחר מהרשימה)" class="mat-form-field-custom">
            <mat-select placeholder="שנת לידה" formControlName="_zakautWithTempCardDOBControl" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let year of vars.possibleYears" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardDOBControl').hasError('required')">{{vars.errors.required}}</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="!hideTreatInput" class="mat-form-field-custom">
            <mat-select placeholder="בחר טיפול" formControlName="_zakautWithTempCardTreatCodeControl" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let treat of (currentSapakTreatments$ |async)" [value]="treat.treatCode">
                {{treat.treatDesc}} ({{ treat.treatCode}})
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field hintLabel="(באורך 4 ספרות)" class="mat-form-field-custom">
            <input matInput placeholder="מספר אישור זמני" type="text" maxlength="{{vars.tempCardNumberLength}}" formControlName="_zakautWithTempCardNumberControl"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardNumberControl').hasError('minlength')">{{vars.errors.minlength}}</mat-error>
            <mat-error *ngIf="zakautWithTempCardForm.get('_zakautWithTempCardNumberControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
          </mat-form-field>



          <div class="submit-section">
            <button mat-raised-button fxFill color="primary" (click)="validateCard(zakautWithTempCardForm)" type='button' disabled={{(!zakautWithTempCardForm.valid||timerActive||(isValidating$|async))}}>
              {{ (isValidating$|async) ? vars.BtnValidating : vars.BtnName }}
            </button>
            <section class="loader-section">
              <mat-progress-bar mode="indeterminate" *ngIf="(isValidating$|async)">
              </mat-progress-bar>
            </section>
          </div>
        </form>
      </mat-tab>


      <!-- Manual Form -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>create </mat-icon>
          <div>אישור ידני</div>
        </ng-template>
        <form #zakautManualFormTag fxLayout="column" fxLayoutAlign="space-between stretch center" fxLayoutGap="20px" novalidate [formGroup]="zakautManualForm"
          ngClass="form" ngClass.lt-md="mob-form">
          <div fxLayout="row" fxLayoutAlign="space-between stretch stretch" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch center"
            fxLayoutGap.xs="20px">
            <mat-form-field hintLabel="(באורך 9 ספרות)" class="mat-form-field-custom">
              <input matInput placeholder="תעודת זהות" type="text" maxlength="{{vars.idLength}}" formControlName="_zakautManualIdControl"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="zakautManualForm.get('_zakautManualIdControl').hasError('minlength')">{{vars.errors.minlength}}</mat-error>
              <mat-error *ngIf="zakautManualForm.get('_zakautManualIdControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="(תעודת זהות/דרכון)" class="mat-form-field-custom">
              <mat-select formControlName="_zakautManualIdTypeControl" [errorStateMatcher]="matcher">
                <mat-option *ngFor="let type of vars.idTypes" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field hintLabel="(בחר מהרשימה)" class="mat-form-field-custom">
            <mat-select placeholder="שנת לידה" formControlName="_zakautManualDOBControl" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let year of vars.possibleYears" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="zakautManualForm.get('_zakautManualDOBControl').hasError('required')">{{vars.errors.required}}</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="!hideTreatInput" class="mat-form-field-custom">
            <mat-select placeholder="בחר טיפול" formControlName="_zakautManualTreatCodeControl" [errorStateMatcher]="matcher">
              <mat-option *ngFor="let treat of (currentSapakTreatments$ |async)" [value]="treat.treatCode">
                {{treat.treatDesc}} ({{ treat.treatCode}})
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="!isSurgeon" fxLayout="column" fxLayoutAlign="space-around stretch center">
            <mat-form-field hintLabel="(באורך 8 ספרות)" class="mat-form-field-custom">
              <input matInput placeholder="מספר כרטיס" type="text" maxlength="{{vars.manualCardNumberLength}}" formControlName="_zakautManualCardNumberControl"
                [errorStateMatcher]="matcher">
              <mat-error *ngIf="zakautManualForm.get('_zakautManualCardNumberControl').hasError('minlength')">{{vars.errors.minlength}}</mat-error>
              <mat-error *ngIf="zakautManualForm.get('_zakautManualCardNumberControl').hasError('pattern')">{{vars.errors.pattern}}</mat-error>
            </mat-form-field>
            <p> סיבת אי העברת כרטיס: </p>
            <mat-radio-group formControlName="_zakautManualReasonControl" fxLayout="column" fxLayoutAlign="start stretch center" fxLayoutGap="10px"
              fxLayout.xs="column" fxLayout.xs="column" fxLayoutAlign.xs="start stretch center">
              <mat-radio-button *ngFor="let reason of vars.reasons" [value]="reason.value"> {{reason.viewValue}}</mat-radio-button>
            </mat-radio-group>
          </div>



          <div class="submit-section">
            <button mat-raised-button fxFill color="primary" (click)="validateCard(zakautManualForm)" type='button' disabled={{(!zakautManualForm.valid||timerActive||(isValidating$|async))}}>
              {{ (isValidating$|async) ? vars.BtnValidating : vars.BtnName }}
            </button>
            <section class="loader-section">
              <mat-progress-bar mode="indeterminate" *ngIf="(isValidating$|async)">
              </mat-progress-bar>
            </section>
          </div>
        </form>
      </mat-tab>


    </mat-tab-group>

    <!-- Responses From Server -->
    <mat-card *ngIf="(zakautErrors$|async).length > 0" class="response-msg-bad" fxLayout="row" fxLayoutAlign="space-between stretch center"
      fxLayoutPadding="20px" fxLayout.xs="column" fxLayoutAlign.xs="space-between center center" fxLayoutGap.xs="15px">
      <mat-icon class=" Vicon ">error_outline</mat-icon>
      <div fxLayout="row" fxLayoutAlign="space-between center center">
        {{(zakautErrors$ | async)}}
      </div>

    </mat-card>
    <mat-card *ngIf="((zakautResponse$|async) !== null)" class="response-msg-good" fxLayout="row" fxLayoutAlign="space-between center center"
      fxLayoutPadding="20px" fxLayout.xs="column">
      <div>
        <mat-icon class=" Vicon ">done</mat-icon>
      </div>
      <div fxLayout="column " fxLayoutAlign="start stretch center " fxLayoutPadding="8px ">
        <mat-list *ngFor="let msg of (zakautResponse$|async).messages " class="info ">
          <mat-list-item>
            - {{msg}} </mat-list-item>
        </mat-list>
        <mat-list *ngFor="let key of objectKeys((zakautResponse$|async)?.extraData) ">
          <mat-list-item>
            - {{ key }} : {{(zakautResponse$|async)?.extraData[key]}}</mat-list-item>
        </mat-list>
      </div>
    </mat-card>
    <p *ngIf="(zakautErrors$|async).length> 0 || ((zakautResponse$|async) !== null)">הודעה זו תיעלם בעוד {{count}} שניות.</p>
  </mat-card>

</div>