/* Style For Form */
.form {
  font-size: 1.28571429rem;
  position: relative;
  max-width: 100%;
  margin: 3em 10em;
}

.mat-form-field {
  font-family: 'OpenSans';
  color: #555;
}

.submit-section button {
  font-family: 'OpenSansBold';
  padding: 2px 0;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px !important;
}

.loader-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 0;
}

.success-msg {
  color: green;
  font-size: 24px;
  font-weight: bolder;
}

.actions-container {
  width: 100%;
}

.actions-card {
  width: 50%;
  -webkit-box-shadow: 0px 0px 35px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px -6px rgba(0, 0, 0, 0.75);
}
.actions-card-mobile {
  width: 90%;
}

.response-msg-good {
  background-color: rgb(255, 255, 255);
  border: 2px solid green;
  margin-right: 50px;
  margin-left: 50px;
}

.response-msg-good .info {
  font-weight: bold;
}
.response-msg-good .Vicon {
  font-weight: bold;
  color: green;
  font-size: 40px !important;
}

.response-msg-bad {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(185, 0, 0);
  margin-right: 50px;
  margin-left: 50px;
}

.response-msg-bad .Vicon {
  font-weight: bold;
  color: rgb(221, 0, 0);
  font-size: 30px !important;
}

.mat-form-field-custom {
  background-color: rgb(255, 255, 255);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 5px;

  border: 1px solid rgb(192, 192, 192);
  border-radius: 7px;
  border-right: 10px solid orange;
}

.tab-group {
  width: 100%;
  justify-content: center;
}

::ng-deep .mat-tab-labels {
  justify-content: center !important;
}
