/* Style For Form */
.form {
  font-size: 1.28571429rem;
  position: relative;
  max-width: 100%;
  padding: 50px 50px;
}

.form-container {
  background: rgba(255, 255, 255, 0.925);
  width: 37%;
}

.mat-form-field {
  font-family: 'OpenSans';
  color: #555;
}

.submit-section button {
  font-family: 'OpenSansBold';
  padding: 2px 0;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px !important;
}

.loader-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 0;
}

.success-msg {
  color: green;
  font-size: 24px;
  font-weight: bolder;
}

.actions-container {
  width: 100%;
}

.actions-card {
  width: 50%;
}
.actions-card-mobile {
  width: 90%;
}

.response-msg-good {
  background-color: rgb(255, 255, 255);
  border: 2px solid green;
  margin-right: 50px;
  margin-left: 50px;
}

.response-msg-good .info {
  font-weight: bold;
}
.response-msg-good .Vicon {
  font-weight: bold;
  color: green;
  font-size: 40px !important;
}

.response-msg-bad {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(185, 0, 0);
  margin-right: 50px;
  margin-left: 50px;
}

.response-msg-bad .Vicon {
  font-weight: bold;
  color: rgb(221, 0, 0);
  font-size: 30px !important;
}
