/* Style For Form */
.form {
  font-size: 1.28571429rem;
  position: relative;
  max-width: 100%;
  padding: 50px 50px;
}

.form-container {
  background: rgba(255, 255, 255, 0.925);
  width: 37%;
}

.mat-form-field {
  font-family: 'OpenSans';
  color: #555;
}

.login-card {
  border-radius: 5px;
  padding: 30px;
}

.submit-section button {
  font-family: 'OpenSansBold';
  /* background-color: #009bdf; */
  padding: 2px 0;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px !important;
}

.loader-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 0;
}

.success-msg {
  color: green;
  font-size: 24px;
  font-weight: bolder;
}

.actions-container {
  width: 100%;
}

.actions-card {
  width: 50%;
}
.actions-card-mobile {
  width: 90%;
}

.response-msg-good {
  background-color: rgb(153, 255, 187);
}

.response-msg-bad {
  background-color: rgb(255, 0, 0);
}
