.top-invoice-menu {
  background-color: rgb(0, 132, 219);
  border: 1px solid rgb(95, 95, 95);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.534);
  -moz-box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.493);
  box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.425);
  padding: 0px 15px;
}

.summary-content-item {
  padding-left: 1.2em;
  padding-right: 0.4em;
  font-weight: bold;
  font-size: 15px;
}

.invoices-actions {
  min-height: 50px;
}

.active {
  -webkit-box-shadow: inset 0px 6px 24px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 6px 24px -10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 6px 24px -10px rgba(0, 0, 0, 0.75);
  min-height: 50px;
  color: rgb(0, 132, 219);
  background-color: white;
}

.border-table {
  border: 1px solid white;
  border-radius: 3px;
  padding: 0px 20px;
  margin: 0px 0px;
  width: auto;
}

.container-test {
  position: absolute;
  border-radius: 10px;
  width: 40%;
  right: 40%;
  height: 88px;
  z-index: 5000;
  margin-top: 26px;
  align-self: flex-end;
}
