<div fxLayout="row" fxLayoutAlign="space-between center center" class="top-invoice-menu" [@itemAnim]>
  <div *ngIf="(currentInvoice$|async)" fxLayout="column" fxLayoutAlign="start stretch center">
    <div class="invoices-full-content-summary" fxLayout="row" fxLayoutAlign="start center center">
      חשבונית מספר:
      <div class="summary-content-item">{{(currentInvoice$|async)?.invoiceNumField}}</div>
      חודש:
      <div class="summary-content-item"> {{(currentInvoice$|async)?.billMonthField | invoiceRowDate:'billMonthField'}} </div>
      סטטוס:
      <div class="summary-content-item">{{(currentInvoice$|async)?.statusField | invoiceStatus:'statusField'}}</div>
      סכום לא כולל מע"מ:
      <div class="summary-content-item"> {{(currentInvoice$|async)?.typedSumField}}</div>
      אחוז מע"מ:
      <div class="summary-content-item"> {{(currentInvoice$|async)?.rateField}}</div>
      סכום כולל מע"מ:
      <div class="summary-content-item"> {{(currentInvoice$|async)?.invoiceSumField}}</div>
      הערות:
      <div class="summary-content-item"> {{(currentInvoice$|async)?.remark1Field}},{{(currentInvoice$|async)?.remark2Field}}</div>
    </div>
    <div *ngIf=(currentInvoiceRow$|async) class="invoices-row-full-content-summary" fxLayout="row" fxLayoutAlign="start center center">
      שורה מספר :
      <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.lineNum }}</div>
      שם המבוטח :
      <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.custFirstName}} {{ (currentInvoiceRow$|async)?.custSecName}} </div>
      תאריך :
      <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.date | date:'dd/MM/yyyy'}} </div>
      סכום :
      <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.amount }} </div>
    </div>
  </div>
  <div *ngIf="!(currentInvoice$|async)" fxLayout="column" fxLayoutAlign="start stretch center">
    <div class="invoices-full-content-summary" fxLayout="row" fxLayoutAlign="start center center">
      <div class="summary-content-item"> אנא בחר חשבונית על מנת לצפות במידע נוסף.</div>

    </div>
  </div>

  <div class="invoices-actions" fxLayout="row" fxLayoutAlign="space-around stretch">
    <button *ngIf="(currentInvoice$|async)" (click)="goToCard($event)" routerLink="/portal/invoices/card" routerLinkActive="active"
      mat-button>העברת כרטיס מגנטי</button>
    <button  routerLinkActive="active"  routerLink="/portal/invoices/cardswipes" mat-button routerLinkActiveOptions="{exact:
      true}">דוח דיווחי כ.מגנטי</button>
    <button mat-button routerLink="/portal/invoices/all" routerLinkActive="active" routerLinkActiveOptions="{exact:
      true}">חשבוניות</button>
    <button *ngIf="(currentInvoice$|async)" routerLink="/portal/invoices/rows" routerLinkActive="active" routerLinkActiveOptions="{exact:
      true}" mat-button>שורות לחשבונית</button>
    <button *ngIf="(currentInvoice$|async)" routerLinkActive="active" routerLinkActiveOptions="{exact:
      true}" mat-button>ש. קיזוזים לחשבונית</button>
  </div>

</div>
<router-outlet></router-outlet>