.print-wrapper {
  background-color: white;
  border: 1px solid black;
}

.logo {
  padding: 0px 25px;
  border: 1px solid blue;
}

.header-details {
  padding: 0px 35px;
  border: 1px solid red;
}

.sub-header-details {
  padding: 5px 35px;
  border: 1px solid rgb(255, 208, 0);
}

.recipient {
  padding: 0px 35px;
  padding-bottom: 20px;
  border: 1px solid rgb(0, 139, 53);
}

.actions {
  padding: 5px 35px;
  border: 1px solid rgb(255, 208, 0);
}

.main {
  padding: 10px 10px;
  overflow: visible;
  border: 1px solid rgb(153, 0, 255);
}

.main-header {
  font-size: 30px;
  border: 1px solid rgb(0, 110, 255);
}

.table-content {
  min-width: 70vw;
  border: 1px solid orange;
}

.lower-content {
  border: 1px solid orange;
  padding: 15px 65px;
}

.page-number {
  border: 1px solid rgb(255, 0, 64);
}
