<div class="print-wrapper" dir="rtl">

  <div fxLayout="row" fxLayoutAlign="space-around center center">
    {{date}}
  </div>

  <div fxLayout="row" fxLayoutAlign="end center center" class="logo">
    <img src="assets/images/meuhedet-logo.png" />
  </div>

  <div *ngIf="recipient" fxLayout="row" fxLayoutAlign="start center center" class="sub-header-details" class="recipient">
    <div fxLayout="column" fxLayoutAlign="start start center">
      <div>
        {{ recipient.greeting }}
      </div>
      <div>
        {{ recipient.address }}
      </div>
      <div>
        {{ recipient.city }}
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center center">
    <div fxLayout="column" fxLayoutAlign="start start center" class="header-details">
      <div> {{headerDetailsText1}} {{headerDetailsValue1}}</div>
      <div> {{headerDetailsText2}} {{headerDetailsValue2}}</div>
    </div>
  </div>

  <div *ngIf="subHeader" fxLayout="row" fxLayoutAlign="start center center" class="sub-header-details">
    {{ subHeader }}
  </div>

  <div fxLayout="row" fxLayoutAlign="start center center" class="actions">
    <button mat-raised-button color="primary">
      {{ btn1Action }}
    </button>
    <button mat-raised-button color="primary">
      {{ btn1Action }}
    </button>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center center" class="main" fxLayoutGap="60px">
    <div fxLayout="row" fxLayoutAlign="space-around center center" class="main-header">
      {{mainHeader}}
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around stretch stretch" class="main-content">
      <div *ngIf="isTableContent">
        <div class="mat-elevation-z8 table-content">
          <mat-table #table [dataSource]="dataSource">
            <ng-container *ngFor="let col of displayedColumns" [cdkColumnDef]="col">
              <mat-header-cell *cdkHeaderCellDef> {{getViewValue(col)}} </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row[col]}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="lowerContent" fxLayout="row" fxLayoutAlign="end center center" class="lower-content">
    <div fxLayout="column" fxLayoutAlign="start start center">
      <div *ngFor="let i of lowerContent">
        {{ i.desc }} {{ i.value}}
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center center" class="page-number">
    עמוד אחד מתוך
  </div>
</div>