/* Style For Footer */
.footer {
  border-top: 0px solid rgba(201, 201, 201, 0.75);
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  position: relative;
}

.content {
  padding-left: 50px;
  padding-right: 50px;
}

.copyright {
  padding-right: 5px;
  font-size: 12px;
}

.version {
  font-size: 12px;
}

.pre-footer {
  background-color: gray;
}
