<div fxLayout="column" fxLayoutAlign="space-around center stretch">

  <div class="title" fxHide.lt-md fxFlexOrder="1">
    <h1>פורטל ספקים</h1>
    <h2>הצגת חשבוניות (FalconX)</h2>
  </div>

  <mat-card fxFlexOrder="2" class="invoices-container" fxLayout="column" fxLayoutAlign="space-between  center center" fxLayoutGap="50px">
    <form #filterInvoices fxLayout="row" fxLayoutAlign="space-around  center center" novalidate fxLayoutGap="50px" class="invoices-filter-form">

      <mat-form-field [floatLabel]="vars.floatLabel">
        <input matInput placeholder="מספר חשבונית" (keyup)="applyFilterInvoiceNumber($event.target.value)">
      </mat-form-field>

      <mat-form-field [floatLabel]="vars.floatLabel">
        <input matInput readonly [matDatepicker]="picker" placeholder="מתאריך" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field [floatLabel]="vars.floatLabel">
        <input matInput readonly [matDatepicker]="picker2" placeholder="עד תאריך" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

    </form>


    <mat-card>
      <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> תאריך חשבונית </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> מספר חשבונית </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> שם חשבונית </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef mat-sort-header> סוג חשבונית </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.symbol}} </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>

    </mat-card>
  </mat-card>
</div>