.summary-content-item {
  font-weight: bold;
  font-size: 15px;
}

.border-table {
  padding: 1px 1px;
  margin: 2px 0px;
  margin-left: 20px;
  width: auto;
  border-right: 4px solid orange;
}

.container-test {
  border: 3px dotted orange;
  border-radius: 5px;
  min-width: 85%;
  z-index: 5000;
  height: auto;
  padding: 8px 8px !important;
}

.invoices-full-content-summary {
  padding: 3px 0px;
}

.invoices-row-full-content-summary {
  padding: 3px 0px;
}
