<mat-card *ngIf="(currentInvoice$|async)" fxLayout="column" fxLayoutAlign="start stretch stretch" class="container-test">
  <table>
    <tr>
      <td class="info-row-title">
        חשבונית
      </td>
      <td class="border-table" align="right">
        חשבונית מספר
        <div class="summary-content-item">{{(currentInvoice$|async)?.invoiceNumField}}</div>
      </td>
      <td class="border-table" align="right">
        חודש
        <div class="summary-content-item"> {{(currentInvoice$|async)?.billMonthField | invoiceRowDate:'billMonthField'}} </div>
      </td>
      <td class="border-table" align="right">
        סטטוס
        <div class="summary-content-item">{{(currentInvoice$|async)?.statusField | invoiceStatus:'statusField'}}</div>
      </td>
      <td class="border-table" align="right">
        סכום שהוקלד
        <div class="summary-content-item"> {{(currentInvoice$|async)?.typedSumField}}</div>
      </td>
      <td class="border-table" align="right">
        אחוז מע"מ
        <div class="summary-content-item"> {{(currentInvoice$|async)?.rateField}}</div>
      </td>
      <td class="border-table" align="right">
        סכום כולל מע"מ
        <div class="summary-content-item"> {{(currentInvoice$|async)?.invoiceSumField}}</div>
      </td>
      <td class="border-table" align="right">
        הערות
        <div class="summary-content-item"> {{(currentInvoice$|async)?.remark1Field}},{{(currentInvoice$|async)?.remark2Field}}</div>
      </td>
    </tr>
    <tr *ngIf=(currentInvoiceRow$|async)>
      <td class="info-row-title">
        שורה
      </td>
      <td class="border-table" align="right">
        שורה מספר
        <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.lineNumField }}</div>
      </td>
      <td class="border-table" align="right">
        שם המבוטח
        <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.custFirstNameField}} {{ (currentInvoiceRow$|async)?.custSecNameField}} </div>
      </td>
      <td class="border-table" align="right">
        תאריך
        <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.dateField | date:'dd/MM/yyyy'}} </div>
      </td>
      <td class="border-table" align="right">
        סכום
        <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.amountField }} </div>
      </td>
      <td class="border-table" align="right">
        התחייבות
        <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.commitmentIdField }} </div>
      </td>
      <td class="border-table" align="right">
        מספר זהות
        <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.cstFormattedIdField }} </div>
      </td>
      <td class="border-table" align="right">
        מספר ביקור
        <div class="summary-content-item"> {{ (currentInvoiceRow$|async)?.visitNumField }} </div>
      </td>
    </tr>
  </table>
</mat-card>