.navbar {
  border-bottom: 1px solid rgb(187, 187, 187);
  padding-right: 0;
  padding-left: 50px;
  z-index: 50;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-right: 12px solid rgb(0, 153, 255);
}

.navbar .logo {
  padding-right: 10px;
  padding-left: 10px;
  color: rgb(102, 102, 102);
  font-family: 'Varela Round', sans-serif;
  margin: auto;
  margin-right: 15px;
  font-size: 20px;
  text-decoration: underline;
}

.navbar .link {
  margin-left: 10px;
  margin-right: 10px;
}

.active {
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(128, 128, 128, 0.247);
  color: rgb(0, 183, 255);
}
