<mat-toolbar role="header" fxLayout="row" fxLayoutAlign="space-between stretch" class="navbar" fxLayout.xs="column" fxLayoutAlign.xs="space-between stretch"
  #mainToolbar>
  <div fxLayout="row" fxLayoutAlign="space-evenly stretch">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo" fxFlexAlign="center">
      <img src="../../../../assets/images/meuhedet-logo.png" class="logo-image" />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-button matTooltip={{linkItem.tooltip}} *ngFor="let linkItem of links; index as i" [routerLink]="linkItem.link"
        routerLinkActive="active" class="link">
        <mat-icon>{{linkItem.icon}}</mat-icon>
      </button>
    </div>

    <mat-chip color="primary">
      {{userName$ | async}}
    </mat-chip>


    <div>
      מס' גרסה - {{version$ | async}}
    </div>
    <button mat-button (click)="updateVersion()" class="link">
      עדכן גרסה
    </button>
    <button mat-button (click)="changeName()" class="link">
      שנה שם לכוכב האמיתי
    </button>
  </div>
</mat-toolbar>